/*
 * @Author: Brightness
 * @Date: 2022-01-13 15:17:53
 * @LastEditors: Brightness
 * @LastEditTime: 2022-01-14 09:25:50
 * @Description:  主题样式
 */


    // 头部
    .header{
        background-color: var(--color-primary);
        color: #fff;
        .logo{
            a{
                h1{
                    color: #fff;
                }
            }
        }
        .content{
            .nav{
                .item{
                    &.active{
                        background-color: var(--color-second);
                    }
                }
            }
        }
    }
    //导航
    .layui-nav{
        background-color: var(--color-second);
        .layui-nav-itemed{
            .layui-nav-child{
                background-color: var(--color-three) !important;
            }
        }
    }
    .layui-nav-tree .layui-nav-child dd.layui-this,
    .layui-nav-tree .layui-nav-child dd.layui-this a,
    .layui-nav-tree .layui-this, 
    .layui-nav-tree .layui-this>a, 
    .layui-nav-tree .layui-this>a:hover{
            background-color: #fff;
            color: var(--color-three);
    }

    //页面tab
    .layui-tab{
        .layui-tab-title{
            .layui-this{
                color:var(--color-primary)
            }
            .layui-tab-close:hover{
                background-color: var(--color-second);
            }
        }
    }
    
    //按钮
    .layui-btn{
        background-color:var(--color-second) ;
        i{
            margin-right: 10px;
        }
        &.layui-btn-danger{
            background-color: #ff5722;
        }
    }

    //选择框
    .layui-form-select dl dd{
        &.layui-this{
            background-color:var(--color-second); 
        }
    }

    //复选框
    .layui-form-checked[lay-skin=primary] i{
        border-color: var(--color-second) !important;
        background-color: var(--color-second);
    }
    .layui-form-checkbox[lay-skin=primary]:hover i{
        border-color:var(--color-second);
    }

    //分页
    .layui-laypage .layui-laypage-curr .layui-laypage-em{
        background-color: var(--color-second);
    }
    .layui-laypage input:focus, .layui-laypage select:focus{
        border-color: var(--color-second) !important;
    }

    //开关
    .layui-form-onswitch{
        background-color: var(--color-second);
        border-color: var(--color-second);
    }